<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Richard Hall</title>
</head>

<body>
<section class="hero is-primary is-fullheight is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <h1 class="title">Richard Hall</h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbar_menu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Projects
                        </a>
                        <span class="navbar-item">
                            <a href="https://gitlab.com/rhall91" target="_blank" class="button is-dark">
                                <span class="icon">
                                    <img class="" src="{% static 'gitlab-icon-1-color-white-rgb.svg' %}" alt="">
                                </span>
                                <span>GitLab</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                I'm Richard
            </h1>
            <h2 class="subtitle">
                I enjoy making things with Python.
            </h2>
        </div>
    </div>
</section>


<section class="jobs section">
    <div class="columns is-multiline is-mobile is-centered">
    {% for job in jobs.all %}
        <div class="column is-one-fifth-desktop is-two-thirds-mobile is-one-third-tablet">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-1by1">
                        <img src="{{ job.image.url }}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ job.summary }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

</body>
</html>

<script>
    let jobs_section = document.getElementsByClassName('jobs section')[0];
    let navbar_links = document.getElementById('navbar_menu');
    projects_link = navbar_links.children[0].children[1];
    projects_link.onclick = function(){
        jobs_section.scrollIntoView({behavior: 'smooth', block: 'start'})
    }

</script>